.header {
  background-image: url("..//img/backgrounds/background\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  min-height: 100vh;
}

.navblock {
  @include flex-center;
  background-color: #27262A;
}

@media screen and (max-width: 481px) {}

@media screen and (max-width: 993px) {}