.main__header{
	margin-top: 110px;
	&__title{
		@include headline-h2-s;
		color: $text-color-prdrk;
	}
	&__subtitle{
		font-family: "Lato",sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		letter-spacing: 0;
		text-align: center;
		color: $text-color-dgr;
		margin: 27px 0 36px 0;
	}
  }
.repository__details__container{
	margin-bottom: 120px;
	&__list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&__link{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
		max-width: 120px;
		height: 28px;
		border: 1px solid gray;
		border-radius: 6px;
		margin: 10px;
		&-counter{
			display: inline-block;
			box-sizing: border-box;
			border-radius: 2em;
			text-align: center;
			padding: 3px;
			background-color: rgba(31,35,40,0.08);
		}
	}
}
  .dropdown-caret {
	  border-bottom-color: #0000;
	  border-left-color: #0000;
	  border-right-color: #0000;
	  border-style: solid;
	  border-width: var(--borderWidth-thicker, 4px) var(--borderWidth-thicker, 4px) 0;
	  content: "";
	  display: inline-block;
	  height: 0;
	  vertical-align: middle;
	  width: 0;
  }
@media (min-width: 481px) {
	.main__header{
		margin-top: 125px;
		&__title{
			@include headline-h2-m;
			color: $text-color-prdrk;
		}
		&__subtitle{
			font-family: "Lato",sans-serif;
			font-size: 21px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0;
			text-align: center;
			color: $text-color-dgr;
			margin: 33px 0 24px 0;
		}
	}
	.repository__details__container{
		margin-bottom: 160px;
		&__list{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
@media (min-width: 993px) {
	.main__header{
		margin-top: 98px;
		&__title{
			@include headline-h2-l;
			color: $text-color-prdrk;
		}
		&__subtitle{
			font-family: "Lato",sans-serif;
			font-size: 21px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0;
			text-align: center;
			color: $text-color-dgr;
			margin: 33px 0 24px 0;
		}
	}
	.repository__details__container{
		margin-bottom: 70px;
	}
}
  

