


.main__up{
  overflow: hidden;

  &__title{
  @include headline-h3-s;
  color: $text-color-pr;
  padding: 35px 65px; 
  }

  &__wrapper {
    text-align: center;
    img{
      align-self: center
      justify-self center;
    }
  }

  &__title-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    color: $text-color-dgr;
    padding: 27px 0 14px 0;
  }
  &__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0;
    color: $text-color-lgr;
    padding-bottom: 38px;
  }
  &__image{
    height: 317px;
    width: 500px;
    background-size: cover;
  }
}

// -----------------------------------------------------------

@media (min-width: 481px){
  .main__up{
    &__iner{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    &__title{
      @include headline-h3-m;
       grid-column: 1/4;
      width: 100%;
      color: $text-color-pr;
      padding: 0 0 50px 0;
    }
     &  .grid__text__wrapper{
  grid-row: 2;
  grid-column: 1/4;
 }
    &__wrapper{
      text-align: start;
      grid-column: 1/4;
      display: grid;
      grid-template-columns: 125px auto auto;
      img{
        grid-column: 1;
        grid-row: 1 / 3;
      }
    }

    &__title-small {
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0;
      color: #323232;
      padding: 0;
      margin-bottom: 15px;
      grid-column: 2/4;
      align-items: start;
    }

    &__text {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0;
      color: $text-color-lgr;
      grid-column: 2/4;
    }
    &__image{
      grid-column: 2/4;
      -ms-grid-row: 3;
      grid-row: 3;
      width: 800px;
      height: 519px;
      margin-right: -16px;
      padding-top: 64px;
    }
  }
}

// --------------------------------------------------------------------------------------

@media (min-width: 993px) {
  .main__up{
    position: relative;
    background-color: #F4F4F4;

    &__iner{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      width: 100%;
      max-width: 1200px
    }
    &__title{
      @include headline-h3-l;
       grid-column: 2;
       grid-row: 1;
       align-self: start;
      color: $text-color-pr;
      text-align: center;
      width: 100%;
      max-width: 680px;
      padding: 95px 0 0 30px;
    }
    &  .grid__text__wrapper{
     
      grid-row: 1;
      grid-column: 1;
      padding-top: 95px;
 }

    &__wrapper{
      text-align: start;
      grid-column: 1;
      grid-row: 1;
      display: grid;
      grid-template-columns: 111px auto;
      padding-bottom: 35px;
      
      img{
        grid-column: 1;
      }
}
&__image{
  position: absolute;
  right: 0px;
  bottom: 30px;
  grid-column: 2;
  grid-row: 1;
  width: 50%;
  max-width: 750px;
  height: 519px;
  align-self: end;
  margin-right: -16px;
  justify-content: end;
}
}
}