
  .main__footer {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;

    &__title {
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0;
      text-align: center;
      color: #FFFFFF;
    }
    .main__footer__wrapper {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      gap: 18px;
      padding: 32px 0 15px 0;
    }
    .item__block {
      width: 257px;
      height: 457px;
      display: flex;
      flex-direction: column;
      text-align: center;
       background: rgba(255, 255, 255, 6%);


      &-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        text-align: center;
        padding: 36px;
        background: rgba(255, 255, 255, 11%);
        color: #FFFFFF;
        display: inline;
      }

      &-main {
        font-size: 60px;
        font-weight: 700;
        line-height: 62px;
        letter-spacing: 0;
        text-align: center;
        color: #FFFFFF;
        padding: 30px 0 20px 0;
      }

      &-texts {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
        text-align: center;
        padding-bottom: 10px;
        color: #FFFFFF;


        &::after {
          content: '';
          display: block;
          margin: 38px 5px 30px 98px;
          text-align: center;
          width: 60px;
          height: 5px;
          background: rgba(141, 129, 172, 1);
        }
      }

      &-textb {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0;
        text-align: center;
        color: #FFFFFF;
        text-transform: capitalize;
        margin-bottom: 35px;
      }
      &-btn{
            font-size: 15px;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0;
            text-align: center;
            background: rgba(255, 255, 255, 11%);
            color: #FFFFFF;
            cursor: pointer;
            width: 163px;
            height: 45px;
            border-radius: 16px;
            margin: 0 auto;
            border: none;
      }
    }

    .item__big__block{
      width: 299px;
      height: 560px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;
      color: white;
      background: rgba(70, 48, 72, 84%);


      &-title{
        width: 100%;
        padding: 43px 0 43px 0;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0;
        color: white;
        background: rgba(0, 0, 0, 11%);
      }
      &-main{
        font-size: 82px;
        font-weight: 700;
        line-height: 90px;
        letter-spacing: 0;
        margin: 14px 0 16px 0;
      }

      &-texts {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0;
        text-align: center;
        color: #FFFFFF;


        &::after {
          content: '';
          display: block;
          text-align: center;
          width: 60px;
          height: 5px;
          background: rgba(141, 129, 172, 1);
          margin: 46px 120px 40px 120px;
        }
      }
      &-textb {
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0;
        color: #FFFFFF;
        text-transform: capitalize;
        margin-bottom: 83px;
      }
      &-btn{
        width: 190px;
        height: 52px;
        border-radius: 16px;
        background: rgba(255, 255, 255, 15%);
        border: none;
        color: #FFFFFF;
        text-align: center;
        cursor: pointer;
        margin: 0 auto;
      }
    }


  }
@media (min-width: 481px) {
  .main__footer {
    background-image: url("../img/backgrounds/background3.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &__title {
      font-size: 42px;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 0;
      text-align: center;
      margin-top: 88px;
    }
    .main__footer__wrapper {
      display: grid;
      justify-content: center;
      grid-template-columns: minmax(150px,257px ) minmax(150px,257px );
      justify-items: end;
      align-items: center;
      gap: 18px;
      padding: 40px 0 95px 0;
      width: 100%;
      max-width: 768px;
      height: auto;

      &>div:nth-child(even){
        justify-self: start;
      }
    }

    .item__block {
     width: 100%;
    }
  }
}
@media screen and (min-width: 993px) {
  .main__footer {

    &__title {
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: 0;
      text-align: center;
    }
    .main__footer__wrapper {
      width: 100%;
      max-width: 1200px;
      display: flex;
    }
    .item__block {
     width: 257px;
      min-width: 200px;
    }
  }
}