 @import "variables";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin headline-h1-s {
  font-size: 48px;
  line-height: 48px;
}

@mixin headline-h1-m {
  font-size: 72px;
  line-height: 72px;
}

@mixin headline-h1-l {
  font-size: 82px;
  line-height: 82px;
}

@mixin headline-h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  color: $text-color-wh;
}

@mixin headline-h2-s {
  //font-size: 26px;
  //line-height: 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;

}

@mixin headline-h2-m {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0;
  text-align: center;

}

@mixin headline-h2-l {
  //font-size: 54px;
  //line-height: 54px;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0;
  text-align: center;

}

@mixin headline-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  color: #635C73;
}

@mixin headline-h3-s {
  font-family: "Montserrat",sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0;
  color: $text-color-pr;
}

@mixin headline-h3-m {
  font-family: "Montserrat",sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  color: $text-color-pr;
}

@mixin headline-h3-l {
  font-family: "Montserrat",sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0;
  color: $text-color-pr;
}

@mixin headline-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}

@mixin mainup-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: $text-color-dgr;
}

@mixin mainup-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: $text-color-lgr;
}

@mixin maindown-text {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $text-color-wh;
}