@import "reset";
@import "variables";
@import "mixins";
@import "header";
@import "mainheader";
@import "mainup";
@import "maindown";
@import "mainfooter";



body {
  font-family: "Lato, Montserrat", serif;
  font-style: normal;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 10px;
}